body{
    background-color: #eee;
}
hr{
    width: 100%;
}
h5{
    font-size: 20px;
    color: #333;
}
.card-img-top{
    height: 10em;
}
.card-body{
    height: 12em;
}
h6{
    font-weight: 100;
    color: #808080aa;
}